.GalleryBlock{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .imageBlock1{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_11.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock2{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_13.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock3{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_19.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock4{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_20.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock5{
        width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../villimage/Beniamin_22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 4%;

    }
    .imageBlock6{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_26.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock7{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_27.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
  
    }
    .imageBlock8{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_28.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
   
    }
    .imageBlock9{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_29.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock10{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_31.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    .imageBlock11{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../villimage/Beniamin_32.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
     
    }
    
}
.contentBlock{
    width: 100%;
   
    text-align: center;
}
